@charset "UTF-8";
/**
 * 
 * @authors Amos (szhcool1129@sina.com)
 * @date    2018-03-29 21:05:10
 * @version 1.0
 */
.header{position: fixed;top: 0;z-index: 99;width: 100%;height: 48px;background-color: #222;}
.header .logo{width: 120px;height: 35px;margin: 6.5px 0 0 60px;float: left;background: url(../images/logo.png)}
.logo a{width: 100%;}
.header a{display: inline-block;height: 100%;color: #aaa;text-decoration: none;font-size: 15px;}
.nav{float: left;}
.nav li{float: left;}
.nav a{display: inline-block;padding: 0 15px;height: 48px;line-height: 48px;}
.nav a:hover, .nav .active{background-color: #393939;color: #fff;}

.footer{height: 40px;line-height: 40px;border-top: 1px solid #e3e5e8;text-align: center;font-size: 12px;margin-top: 15px;}

.wrap{width: 1200px;margin: 58px auto 0 auto;overflow: hidden;}
.list-left{width: 800px;float: left;}
.right{width: 380px;float: left;margin-left: 20px;}

.top-show{overflow: hidden;}
.left-box{width: 190px;float: left;margin-right: 10px;}
.left-box li{position: relative;width: 100%;height: 145px;overflow: hidden;}
.left-box .title{position: absolute;bottom: 0;display: inline-block;width: 100%;height: 35px;line-height: 35px;color: #fff;background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));text-align: center;}
.left-box li:last-child{margin-top: 10px;}
.left-box img{width: 100%;height: 145px;overflow: hidden;}
.index-swiper {float: left;width: 600px;height: 300px;margin: 0 !important;}
.index-swiper .swiper-slide img{width: 600px;height: 300px;}
.index-swiper .swiper-slide .title{position: absolute;bottom: 0;line-height: 35px;width: 100%;color: #fff;padding-left: 10px;box-sizing: border-box;background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));}
.index-swiper .swiper-pagination{text-align: right !important;padding-right: 20px;box-sizing: border-box;}
.scale img{transition-delay: 0s;transition-duration: 1s;transition-property: all;transition-timing-function: ease;
    /* Firefox 4 */
    -moz-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    /* Safari å’Œ Chrome */
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    /* Opera */
    -o-transition-delay: 0s;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}
.scale img:hover{transform: scale(1.2, 1.2);    
    -ms-transform:scale(1.2, 1.2);  /* IE 9 */
    -moz-transform:scale(1.2, 1.2);     /* Firefox */
    -webkit-transform:scale(1.2, 1.2); /* Safari å’Œ Chrome */
    -o-transform:scale(1.2, 1.2);   /* Opera */
}

.data-list{margin-top: 15px;}
.data-list li{position: relative;min-height: 100px;overflow: hidden;padding: 12px 0;-webkit-transition:background-color .2s linear;border-bottom: 1px solid #e8e8e8;}
.data-list li:hover{background-color: #f0f0f0;}
.singal-mode-l{float: left;width: 180px;height: 100px;overflow: hidden;}
.singal-mode-l img{width: 180px;overflow: hidden;}
.singal-mode-r{float: left;height: 100px;width: 620px;box-sizing: border-box;padding: 0 15px;}
.singal-mode-r:before{content:'';width:0;font-size:0;height:100%;visibility:hidden;display:inline-block;vertical-align:middle}
.singal-mode-r .singal-mode-r-inner{display: inline-block;vertical-align: middle;width: 580px;}
.data-list .title{text-decoration: none;color: #222;font-size: 20px;font-weight: bold;transition: color .2s ease;}
.data-list .title:hover{color:#406599;}
.list-footer-bar{height: 20px;margin-top: 10px;overflow: hidden;}
.list-footer-bar:before{content: '';display: table;}
.list-footer-bar a{display: inline-block;font-size: 12px;font-weight: normal;margin-right: 5px;vertical-align: middle;}
.list-footer-bar .footer-bar-left{float: left;overflow: hidden;line-height: 16px;}
.list-footer-bar .avatar{width: 18px;height: 18px;line-height: 18px;border-radius: 50%;overflow: hidden;}
.list-footer-bar .avatar img{width: 100%;height: 100%;}
.list-footer-bar .classify{border: 1px solid #222;padding: 1px 2px;line-height: 1;margin-right: 10px;}
.list-footer-bar .username{font-size: 14px;color: #aaa;line-height: 1;}
.list-footer-bar .time{display: inline-block;font-size: 14px;line-height: 1;color: #999;vertical-align: middle;}
.footer-bar-right{float: right;font-size: 14px;line-height: 1;color: #999;line-height: 20px;}

.more-mode .pic-list{margin-top: 10px;overflow: hidden;}
.more-mode .pic-list li{float: left;width: 192px;height: 140px;margin-left: 10px;padding: 0;overflow: hidden;}
.more-mode .pic-list li:first-child{margin-left: 0;}
.more-mode .pic-list img{width: 192px;height: 140px;}

.jitang li{margin-top: 8px;}
.jitang li:first-child{margin-top: 0;}
.jitang a{text-decoration: none;color: #FF69B4;background-color: #FFEC8B;padding: 10px 15px;border-radius: 15px;display: block;font-size: 14px;transition: color 1s ease;transition: text-shadow 1s ease;}
.jitang a:hover{color: #fff; text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);}

.list-wrap{margin-top: 20px;overflow: hidden;}
.list-wrap a{display: block;text-decoration: none;color: #222;text-align: center;transition: color .2s ease;}
.list-wrap a:hover{color:#406599;}
.wrap-title{border-top: 3px solid #aaa;line-height: 30px;margin-bottom: 10px;}
.wrap-title em{font-style: normal;}
.wrap-title span{float: right;}

.list-wrap-data{overflow: hidden;width: 100%;}
.list-wrap-data li{position: relative;float: left;margin-top: 15px;width: 185px;}
.list-wrap-data li:first-child, .list-wrap-data li:nth-child(2){margin-top: 0;}
.list-wrap-data .pic{position: relative;height: 135px;overflow: hidden;}
.index-video-list .pic:hover .video-layer{display: block;}
.index-video-list .video-layer{position: absolute;z-index: 9;top:0;width: 100%;height: 100%;background-color: #000;opacity: .3;display: none;transition: block .2s ease;}
.list-wrap-data img{width: 100%;height: 100%;}
.list-wrap-data .title{line-height: 22px;margin-top: 5px;}
.list-wrap-data .odd{margin-right: 10px;}
.index-duanzi .title{text-align: left;}
.index-duanzi li{width: 100%;line-height: 25px;margin-top: 0;}
.index-duanzi .th{display: inline-block;font-size: 16px;font-style: italic;margin-right: 8px;color: #aaa;}

.qiutu-swiper{width: 100%;height: 315px;}
.qiutu-swiper-list .title, .qiutu-list .title{position: absolute;bottom: 0;line-height: 35px;width: 100%;color: #fff;padding-left: 10px;box-sizing: border-box;background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));}

.qiutu-swiper-list, .qiutu-list{overflow: hidden;}
.qiutu-swiper-list li, .qiutu-list li{position: relative;float: left;width: 227px;height: 150px;overflow: hidden;margin-left: 16px;}
.qiutu-swiper-list li img, .qiutu-list li img{width: 100%;height: 150px;}
.qiutu-swiper-list li:first-child, .qiutu-swiper-list li:nth-child(6){margin-left: 0;}
.qiutu-swiper-list .line-margin, .qiutu-list .line-margin{margin-top: 15px;}
.qiutu-list .clear-ml{margin-left: 0;}
.list-title{line-height: 35px;margin-top: 10px;font-size: 16px;}