<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>笑话库</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="static/css/common.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="">笑话库</a>
        </div>
        <ul class="nav">
            <li><a href="">糗图</a></li>
            <li><a href="">段子</a></li>
            <li><a href="">漫画</a></li>
            <li><a href="">动画</a></li>
            <li><a href="">视频</a></li>
            <li><a href="">心灵鸡汤</a></li>
        </ul>
    </header>
    <div class="wrap">
        
    </div>
</body>
</html>