<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>笑话库</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="<?=Config::get('staticUrl')?>/css/common.css" rel="stylesheet">
<link href="<?=Config::get('staticUrl')?>/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="<?=Config::get('staticUrl')?>/libs/swiper/css/swiper.min.css">
<script src="<?=Config::get('staticUrl')?>/libs/jquery-3.3.1.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href=""></a>
        </div>
        <ul class="nav">
            <li><a href="">糗图</a></li>
            <li><a href="">段子</a></li>
            <li><a href="">漫画</a></li>
            <li><a href="">动画</a></li>
            <li><a href="">视频</a></li>
            <li><a href="">心灵鸡汤</a></li>
        </ul>
    </header>
    <div class="wrap">
        <div class="list-left">
            <div class="top-show">
                <ul class="left-box">
                    <li class="scale">
                        <a href="">
                            <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                            <span class="title">这里是图片标题</span>
                        </a>
                    </li>
                    <li class="scale">
                        <a href="">
                            <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                            <span class="title">这里是图片标题</span>
                        </a>
                    </li>
                </ul>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide scale">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                <div class="title">这里是图片标题</div>
                            </a>
                        </div>
                        <div class="swiper-slide scale">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                <div class="title">这里是图片标题</div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <ul class="data-list">
                <li>
                   <div class="singal-mode-l scale">
                       <a href="">
                           <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                       </a>
                   </div>
                   <div class="singal-mode-r">
                        <div class="singal-mode-r-inner">
                            <a class="title" href="">黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                            <div class="list-footer-bar">
                                <div class="footer-bar-left">
                                    <a class="classify">糗图</a>
                                    <a class="avatar">
                                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                    </a>
                                    <a class="username">用户名称</a>
                                    <span class="time">10分钟前</span>                                    
                                </div>
                                <div class="footer-bar-right">
                                    <span>1234阅读</span>
                                    <span>124点赞</span>
                                </div>                     
                            </div>
                        </div>                       
                   </div>
                </li>
                <li>
                   <div class="singal-mode-l scale">
                       <a href="">
                           <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                       </a>
                   </div>
                   <div class="singal-mode-r">
                        <div class="singal-mode-r-inner">
                            <a class="title" href="">黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                            <div class="list-footer-bar">
                                <div class="footer-bar-left">
                                    <a class="classify">糗图</a>
                                    <a class="avatar">
                                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                    </a>
                                    <a class="username">用户名称</a>
                                    <span class="time">10分钟前</span>                                    
                                </div>
                                <div class="footer-bar-right">
                                    <span>1234阅读</span>
                                    <span>124点赞</span>
                                </div>                     
                            </div>
                        </div>                       
                   </div>
                </li>
                <li>
                   <div class="singal-mode-l scale">
                       <a href="">
                           <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                       </a>
                   </div>
                   <div class="singal-mode-r">
                        <div class="singal-mode-r-inner">
                            <a class="title" href="">黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                            <div class="list-footer-bar">
                                <div class="footer-bar-left">
                                    <a class="classify">糗图</a>
                                    <a class="avatar">
                                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                    </a>
                                    <a class="username">用户名称</a>
                                    <span class="time">10分钟前</span>                                    
                                </div>
                                <div class="footer-bar-right">
                                    <span>1234阅读</span>
                                    <span>124点赞</span>
                                </div>                     
                            </div>
                        </div>                       
                   </div>
                </li>
                <li>
                   <div class="singal-mode-l scale">
                       <a href="">
                           <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                       </a>
                   </div>
                   <div class="singal-mode-r">
                        <div class="singal-mode-r-inner">
                            <a class="title" href="">黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                            <div class="list-footer-bar">
                                <div class="footer-bar-left">
                                    <a class="classify">糗图</a>
                                    <a class="avatar">
                                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                    </a>
                                    <a class="username">用户名称</a>
                                    <span class="time">10分钟前</span>                                    
                                </div>
                                <div class="footer-bar-right">
                                    <span>1234阅读</span>
                                    <span>124点赞</span>
                                </div>                     
                            </div>
                        </div>                       
                   </div>
                </li>
                <li>
                   <div class="singal-mode-l scale">
                       <a href="">
                           <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                       </a>
                   </div>
                   <div class="singal-mode-r">
                        <div class="singal-mode-r-inner">
                            <a class="title" href="">黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                            <div class="list-footer-bar">
                                <div class="footer-bar-left">
                                    <a class="classify">糗图</a>
                                    <a class="avatar">
                                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                    </a>
                                    <a class="username">用户名称</a>
                                    <span class="time">10分钟前</span>                                    
                                </div>
                                <div class="footer-bar-right">
                                    <span>1234阅读</span>
                                    <span>124点赞</span>
                                </div>                     
                            </div>
                        </div>                       
                   </div>
                </li>
                <li>
                    <div class="more-mode scale">
                        <a class="title" href="">黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                        <a href="">
                            <ul class="pic-list">
                                <li><img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt=""></li>
                                <li><img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt=""></li>
                                <li><img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt=""></li>
                                <li><img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt=""></li>
                            </ul>
                        </a>
                        <div class="list-footer-bar">
                            <div class="footer-bar-left">
                                <a class="classify">糗图</a>
                                <a class="avatar">
                                    <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                </a>
                                <a class="username">用户名称</a>
                                <span class="time">10分钟前</span>                                    
                            </div>
                            <div class="footer-bar-right">
                                <span>1234阅读</span>
                                <span>124点赞</span>
                            </div>                     
                        </div>
                    </div>
                </li>
            </ul>          
        </div>
        <div class="right">
            <ul class="jitang">
                <li>
                    <a href="">开始一种恐慌，停留与不可复制的回忆。你配不上自己的野心，也辜负了曾经历的苦难。人生没有如果，只有后果和结果。少问别人为什么，多问自己凭什么。</a>
                </li>
                <li>
                    <a href="">人不仅要做好事，更要以准确的方式做好事。人生最大的快乐不在于据有什么，而在于追求什么的过程。任何业绩的质变都来自于量变的积累。强者会哭，但绝不会认输。</a>
                </li>
                <li>
                    <a href="">人不仅要做好事，更要以准确的方式做好事。人生最大的快乐不在于据有什么，而在于追求什么的过程。任何业绩的质变都来自于量变的积累。强者会哭，但绝不会认输。</a>
                </li>
            </ul>
            <div class="list-wrap">
                <div class="wrap-title">
                    <em>热门视频</em>
                    <span><a href="">更多</a></span>
                </div>
                <ul class="list-wrap-data index-video-list">
                    <li class="odd">
                        <div class="pic">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                <div class="video-layer"></div>
                            </a>                            
                        </div>
                        <a class="title" href="">人不仅要做好事人不仅要做好事人不仅要做好事</a>
                    </li>
                    <li>
                        <div class="pic">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                <div class="video-layer"></div>
                            </a>                            
                        </div>
                        <a class="title" href="">人不仅要做好事</a>
                    </li>
                    <li class="odd">
                        <div class="pic">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                <div class="video-layer"></div>
                            </a>                            
                        </div>
                        <a class="title" href="">人不仅要做好事</a>
                    </li>
                    <li>
                        <div class="pic">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                                <div class="video-layer"></div>
                            </a>                            
                        </div>
                        <a class="title" href="">人不仅要做好事</a>
                    </li>
                </ul>                
            </div>
            <div class="list-wrap">
                <div class="wrap-title">
                    <em>推荐漫画</em>
                    <span><a href="">更多</a></span>
                </div>
                <ul class="list-wrap-data">
                    <li class="odd">
                        <div class="pic scale">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                            </a>                            
                        </div>
                        <a class="title" href="">人不仅要做好事人不仅要做好事人不仅要做好事</a>
                    </li>
                    <li>
                        <div class="pic scale">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                            </a>                            
                        </div>
                        <a class="title" href="">人不仅要做好事</a>
                    </li>
                    <li class="odd">
                        <div class="pic scale">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                            </a>                            
                        </div>
                        <a class="title" href="">人不仅要做好事</a>
                    </li>
                    <li>
                        <div class="pic scale">
                            <a href="">
                                <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                            </a>                            
                        </div>
                        <a class="title" href="">人不仅要做好事</a>
                    </li>
                </ul>                
            </div>
            <div class="list-wrap">
                <div class="wrap-title">
                    <em>段子排行榜</em>
                    <span><a href="">更多</a></span>
                </div>
                <ul class="list-wrap-data index-duanzi">
                    <li>                        
                        <a class="title" href=""><span class="th">1</span>黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                    </li>
                    <li>
                        <a class="title" href=""><span class="th">2</span>黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                    </li>
                    <li>
                        <a class="title" href=""><span class="th">3</span>黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                    </li>
                    <li>
                        <a class="title" href=""><span class="th">4</span>黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                    </li>
                    <li>                        
                        <a class="title" href=""><span class="th">5</span>黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                    </li>
                    <li>
                        <a class="title" href=""><span class="th">6</span>黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                    </li>
                    <li>
                        <a class="title" href=""><span class="th">7</span>黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                    </li>
                    <li>
                        <a class="title" href=""><span class="th">8</span>黄圣依婆家到底多有钱？饭桌都是你想象不到的！</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">jokelibrary.cn All Right Reserve 版权所有</footer>
    <script src="<?=Config::get('staticUrl')?>/libs/swiper/js/swiper.min.js"></script>
    <script src="<?=Config::get('staticUrl')?>/js/index.js"></script>
</body>
</html>