{include file='common/header'}
<div class="qiutu-swiper">
    <div class="swiper-container qiutu-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide scale">
                <ul class="qiutu-swiper-list">
                    <li>
                        <a href="">
                            <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                            <div class="title">这里是图片标题</div>
                        </a>
                    </li>
                    <li>
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li>
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li>
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li>
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide scale">
                <ul class="qiutu-swiper-list">
                    <li>
                        <a href="">
                            <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                            <div class="title">这里是图片标题1</div>
                        </a>
                    </li>
                    <li>
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li>
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li>
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li>
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                    <li class="line-margin">
                        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
                        <div class="title">这里是图片标题</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="list-title">最新推荐</div>
<ul class="qiutu-list scale">
    <li class="clear-ml">
        <a href="">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
        </a>
    </li>
    <li>
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li>
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li>
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li>
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="clear-ml line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="clear-ml line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="clear-ml line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
    <li class="line-margin">
        <img src="http://05.imgmini.eastday.com/mobile/20180328/20180328211443_5bceadd84451037677f0bfa218b6ab00_1.jpeg" alt="">
        <div class="title">这里是图片标题</div>
    </li>
</ul>
<script src="<?=Config::get('staticUrl')?>/libs/swiper/js/swiper.min.js"></script>
<script src="<?=Config::get('staticUrl')?>/js/qiutu.js"></script>
{include file='common/footer'}